.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  max-width: 1024px;
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  width: 500px;
  top: 92px;
  left: calc(50% + 100px);
}

@media (max-width: 1024px) {
  .characterWrapper {
    left: 60%;
    width: 49%;
  }

  .characterWrapper svg {
    min-height: 500px;
  }
}

.perspectiveDecoration {
  position: fixed;
  width: 100%;
  top: 55vh;
  height: 45vh;
  background-color: hsl(195deg, 20%, 86%);
}

.controlColumn {
  width: 50%;
}

@media (max-width: 550px) {
  html {
    min-height: 100vh;
    font-size: 14px;
  }

  .characterEditor {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header {
    padding-bottom: 16px;
    width: auto;
  }

  .perspectiveDecoration {
    display: none;
  }

  .maxWidthWrapper {
    z-index: 2;
  }

  .characterWrapper {
    position: static;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .controlColumn {
    position: absolute;
    width: calc(100vw - 64px);
    display: flex;
    gap: 10px;
    overflow: auto;
    bottom: -500px;
  }
}
